html,body{width:100%;height: 100%;background-color: #f5f5f5;}

.search{width:100%;}
.search .searchBox{padding:0.2rem 0 0.2rem 0.2rem;}
.search .searchBox input{font-size:0.24rem;width: 6.1rem;height: 0.6rem;border-radius: 0.2rem;background: url(../image/search.png) 0.1rem center;background-size: 0.35rem;background-repeat:no-repeat;border: 0.01rem solid #ccc; padding: 0 0.5rem;box-sizing: border-box;}
.search .searchBox span{display: inline-block;width:1rem;text-align: center;font-size: 0.3rem;color:#444;}

.yijiclassify{width:100%;display: flex;flex-wrap:wrap;text-align: center;padding: 0 0.18rem;box-sizing: border-box;}
.yijiclassify .yijicell{width:3.55rem;background-color: white;border-bottom: 0.03rem solid #f5f5f5;padding:0.3rem 0;border-right: 0.03rem solid #f5f5f5;}
.yijiclassify .yijicell:nth-child(2n){border-right: 0;}
.yijiclassify .yijicell .img{width:2rem;height: 2rem;border-radius: 50%;display: block;margin:0 auto;}
.yijiclassify .yijicell .p{width:80%;padding:0 10%;line-height:0.3rem;font-size: 0.26rem;padding-top:0.1rem;}

.word{width:100%;}
.word .line{width:100%;margin-bottom: 0.2rem;background-color: #fff;}
.word .line .img{width:100%;height: 3.4rem}
.word .line .priceLine{padding:0.1rem 0.2rem;}
.word .line .priceLine .s1{font-size: 0.32rem;color:black;}
.word .line .priceLine .s2{float:right;color:#ffa42f;font-size: 0.3rem}
.word .line .pLine{padding:0 0.2rem;color: #666;font-size: 0.24rem;}
.word .line .dataLine{width:100%;padding:0.2rem 0.2rem 0.1rem;box-sizing: border-box;}
.word .line .dataLine .s1{color:black;font-size: 0.26rem;}
.word .line .dataLine .s2{float:right;color:#999;font-size: 0.24rem;}

.zhibo{width:100%;}
.zhibo .line{width:100%;margin-bottom: 0.2rem;background-color: #fff;}
.zhibo .line .img{width:100%;height:3.4rem}
.zhibo .line .priceLine{padding:0.1rem 0.2rem 0.1rem;}
.zhibo .line .priceLine .s1{font-size: 0.32rem;color:#333;display: inline-block;width: 5.3rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.zhibo .line .priceLine .s2{float:right;color:#ffa42f;font-size: 0.3rem}

#wrapper{background-color: #f5f5f5;}
#wrapper .scroller{background-color: #f5f5f5;}