html,body{width:100%;padding: 0;margin: 0;}
html{position: relative;height: 100%;}
body{position: relative;}

.con1{position:fixed;top:0;width:100%;background-color: #22272a;padding:0.2rem;font-size: 0.34rem;line-height: 0.45rem;z-index: 1;}
.con1 span{color:white;}

.search{width:100%;}
.search .searchBox{padding:0.2rem 0 0.2rem 0.2rem;}
.search .searchBox input{    width: 6.1rem;height: 0.6rem;border-radius: 0.2rem;background: url(../image/search.png) 0.1rem center;background-size: 0.35rem;background-repeat:no-repeat;border: 0.01rem solid #ccc; padding: 0 0.5rem;box-sizing: border-box;}
.search .searchBox span{display: inline-block;width:1rem;text-align: center;font-size: 0.3rem;color:#444;}

.con3{padding: 0.1rem 0;background-color: white;box-sizing: border-box;}
.con3 .con3Tit{font-size: 0.32rem;line-height: 0.8rem;text-align: center;color:#111;}
.con3 .con3Item{width: 100%;padding: 0.2rem 0;border-bottom: 0.01rem solid #ccc;}
.con3 .con3ItemLeft{width: 2rem;height: 2rem;vertical-align:middle;padding: 0 0.1rem 0 0.2rem;font-size: 0.3rem;color:#333;}
.con3 .con3ItemRight{display: inline-flex;align-content:space-between;flex-wrap:wrap;width:4.9rem;vertical-align: middle;height: 2rem;}
.con3 .con3ItemRight .coachName{display: inline-block;width:4.9rem;font-size: 0.28rem;color:#333;}
.con3 .con3ItemTitle{height: 1rem;display: inline-block;}
.con3 .con3ItemBody{width:100%;}
.con3 .con3ItemTime{width:48%;line-height: 0.35rem;vertical-align: middle;display: inline-block;font-size: 0.24rem;overflow: hidden;}
.con3 .con3ItemTime .money{font-size: 0.3rem;color:#ffa42f;}
.con3 .con3ItemTime a{color:#ffa42f;}
.con3 .con3ItemTime a b{font-size: 0.32rem;color:#ffa42f;}
.con3 .con3ItemBody span{display: inline-block;background-color: #ffa42f;color:#fefefe;font-size: 0.3rem;padding: 0.05rem 0.24rem;border-radius: 0.2rem;margin: 0.08rem;}
.con3 .con3Con{padding: 0 0.2rem;display: flex;justify-content: space-between;padding-bottom: 0.2rem;}

.bottom{width:100%;height: 1rem;border-top: 0.02rem solid #d2d1d1;position: fixed;bottom: 0;display: flex;justify-content: space-around;background-color: white;}
.bottom .b{width: 1.85rem;text-align: center}
.bottom .b img{width: 0.58rem;height: 0.58rem;margin-top:0.05rem;}
.bottom .b span{display: block;font-size: 0.28rem;line-height: 0.2rem;}