<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.myproject.goods.mapper.GoodsSkuMapper">
    <!--<cache type="org.mybatis.caches.redis.RedisCache" />-->
    <resultMap type="GoodsSku" id="resultMap">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result column="goods_sku_id" property="goodsSkuId" jdbcType="VARCHAR"/>
        <result column="spec_id" property="specId" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="searchGoodsSkuById" resultType="GoodsSku">
        select * from s_goods_sku where goods_sku_id =#{goodsSkuId}
    </select>

    <select id="searchGoodsSkuDetail" resultType="GoodsSku" parameterType="GoodsSku">
        select * from s_goods_sku where 1=1
        <if test="goodsId != null and goodsId !=''">
            and goods_id = #{goodsId}
        </if>
        <if test="specId != null and specId !=''">
            and spec_id = #{specId}
        </if>
    </select>

    <insert id="insertGoodsSku" parameterType="GoodsSku">
        insert into
             s_goods_sku
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="goodsSkuId != null and goodsSkuId != ''">
                goods_sku_id,
            </if>
            <if test="specId != null and specId != ''">
                spec_id,
            </if>
            <if test="goodsId != null and goodsId != ''">
                goods_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="goodsSkuId != null and goodsSkuId != ''">
               #{goodsSkuId},
            </if>
            <if test="specId != null and specId != ''">
                #{specId},
            </if>
            <if test="goodsId != null and goodsId != ''">
                #{goodsId},
            </if>
        </trim>
    </insert>

    <delete id="deleteGoodsSku" parameterType="java.lang.String">
        delete from s_goods_sku where goods_sku_id = #{goodsSkuId}
    </delete>

    <update id="updateGoodsSku" parameterType="GoodsSku">
        update s_goods_sku
        <set>
            <if test="specId != null and specId != ''">
                spec_id =   #{specId},
            </if>
            <if test="goodsId != null and goodsId != ''">
                goods_id =  #{goodsId},
            </if>
        </set>
        where 1=1
        <if test="goodsSkuId != null and goodsSkuId !=''">
            and goods_sku_id = #{goodsSkuId}
        </if>
    </update>

    <select id="searchGoodsSkuList" resultMap="resultMap" >
        select * from s_goods_sku
        where
            <if test="goodsId != null and goodsId !=''">
                goods_id =#{goodsId}
            </if>
    </select>
    <select id="searchGoodsSkuListByGoodsId" resultMap="resultMap" parameterType="java.lang.String">
        select * from s_goods_sku
        where
        <if test="goodsId != null and goodsId !=''">
            goods_id =#{goodsId}
        </if>
    </select>

</mapper>